apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: invoker-routes
  namespace: invoker-dev
spec:
  parentRefs:
  - name: meepo-gateway
    namespace: meepo-dev
  hostnames:
  - "dev.hicasino.xyz"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: "/connection"
    backendRefs:
    - name: centrifugo-svc
      namespace: invoker-dev
      port: 8000
      weight: 1
  - matches:
    - path:
        type: PathPrefix
        value: "/sessions"
    backendRefs:
    - name: invoker-server-svc
      namespace: invoker-dev
      port: 8000
      weight: 1
  - matches:
    - path:
        type: PathPrefix
        value: "/v1"
    backendRefs:
    - name: invoker-server-svc
      namespace: invoker-dev
      port: 8000
      weight: 1